.decription-texts p {
  font-family: "PT Serif";
  font-size: 2rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.05em;
  text-align: left;
}
.decription-texts {
  width: 66.4rem;
}
@media screen and (max-width: 700px) {
  .decription-texts {
    width: 45rem;
  }
  .decription-texts p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .decription-texts {
    width: 40rem;
  }
  .decription-texts p {
    font-size: 1.2rem;
  }
}
