.goodbybe-message {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
}
.sub-goodbye-message {
  padding: 2rem;
  position: inherit;
  width: 60rem;
  height: 60rem;
  left: 30rem;
  border-radius: 1.5rem;
  opacity: 0px;
  border: 1px solid rgba(209, 154, 100, 0.65);
}
.goodbybe-message h3 {
  position: inherit;
  left: 30rem;
  font-family: "PT Serif";
  font-size: 2rem;
  font-weight: 700;
  line-height: 44.8px;
  letter-spacing: 0.02em;
}
.goodbybe-message h4 {
  position: inherit;
  left: 30rem;
  font-family: "PT Serif";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 28px;
}
.sub-goodbye-message h1 {
  font-family: "PT Serif";
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  letter-spacing: 0.02em;
}
.click-proceed2 {
  margin-top: 2rem;
  width: 606px;
  height: 53px;
  margin-left: 30rem;
  padding: 11px 193px 10px 194px;
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
  border: none;
  background-color: rgba(209, 154, 100, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "PT Serif";
  font-size: 2rem;
  font-weight: 700;
  line-height: 26.5px;
  text-align: left;
}
.proceed-btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.click-proceed6 {
  align-items: center;
  padding: 1rem 14rem;
  border-radius: 8px;
  border: none;
  color: white;
  font-family: "PT Serif";
  font-weight: 700;
  font-size: 2rem;

  background-color: rgba(209, 154, 100, 1);
}
@media screen and (max-width: 900px) {
  .proceed-btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .click-proceed6 {
    align-items: center;
    padding: 1rem 4rem;
    border-radius: 8px;
    border: none;
    color: white;
    font-family: "PT Serif";
    font-weight: 700;

    background-color: rgba(209, 154, 100, 1);
  }
  .goodbybe-message h3 {
    font-size: 1.5rem;
  }
  .goodbybe-message {
    justify-content: center;

    margin: 0;
    padding: 0;
  }
  .goodbybe-message #bingo {
    font-size: 1rem;
  }
  .sub-goodbye-message {
    width: 40rem;
    height: 60rem;
    border-radius: 15px;

    border: 1px solid rgba(209, 154, 100, 0.65);
  }
}
@media screen and (max-width: 430px) {
  .proceed-btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .click-proceed6 {
    align-items: center;
    padding: 1rem 4rem;
    border-radius: 8px;
    border: none;
    color: white;
    font-family: "PT Serif";
    font-weight: 700;
    font-size: 1.5rem;
    background-color: rgba(209, 154, 100, 1);
  }
  .goodbybe-message h3 {
    font-size: 1.5rem;
  }
  .goodbybe-message {
    justify-content: center;

    margin: 0;
    padding: 0;
  }
  .goodbybe-message #bingo {
    font-size: 1rem;
  }
  .sub-goodbye-message {
    width: 30rem;
    height: 60rem;
    border-radius: 15px;

    border: 1px solid rgba(209, 154, 100, 0.65);
  }
}
/* @media screen and (max-width: 630px) {
  .goodbybe-message {
    margin: 2rem;
  }
  .sub-goodbye-message {
    padding: 2rem;

    width: 40rem;
    height: 60rem;

    border-radius: 1.5rem;
    opacity: 0px;
    border: 1px solid rgba(209, 154, 100, 0.65);
  }
  .goodbybe-message h3 {
    font-family: "PT Serif";
    font-size: 2rem;
    font-weight: 700;
    line-height: 44.8px;
    letter-spacing: 0.02em;
  }
  .goodbybe-message h4 {
    font-family: "PT Serif";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 28px;
  }
  .sub-goodbye-message h1 {
    font-family: "PT Serif";
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 450px) {
  .goodbybe-message {
    margin-left: 0;
    display: contents;
    border: 1px solid red;
  }
  .sub-goodbye-message {
    padding: 0;
    width: 30rem;
    height: 60rem;
    left: 0;
    border-radius: 1.5rem;

    border: 1px solid rgba(209, 154, 100, 0.65);
  }
  .goodbybe-message h3 {
    position: none;
    font-family: "PT Serif";
    font-size: 2rem;
    font-weight: 700;
    line-height: 44.8px;
    letter-spacing: 0.02em;
  }
  .goodbybe-message h4 {
    position: none;
    left: 0;
    font-family: "PT Serif";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 28px;
  }
  .sub-goodbye-message h1 {
    font-family: "PT Serif";
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    letter-spacing: 0.02em;
  }
} */

/* @media screen and (max-width: 350px) {
  .goodbybe-message {
    margin-left: 0;
    display: contents;
    border: 1px solid red;
  }
  .sub-goodbye-message {
    padding: 0;
    width: 20rem;
    height: 60rem;
    left: 0;
    border-radius: 1.5rem;

    border: 1px solid rgba(209, 154, 100, 0.65);
  }
  .goodbybe-message h3 {
    position: none;
    font-family: "PT Serif";
    font-size: 2rem;
    font-weight: 700;
    line-height: 44.8px;
    letter-spacing: 0.02em;
  }
  .goodbybe-message h4 {
    position: none;
    left: 0;
    font-family: "PT Serif";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 28px;
  }
  .sub-goodbye-message h1 {
    font-family: "PT Serif";
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    letter-spacing: 0.02em;
  }
} */
