@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.product-section {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* width: 100%; */
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.product-section span {
  font-family: " PT Serif";
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  letter-spacing: 0.02em;
  color: rgba(209, 154, 100, 1);
}
.product-section::before,
.product-section::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid rgba(209, 154, 100, 0.65);
  margin: 0 10px;
}

.product-item {
  width: 264px;
  height: 281px;
  top: 1705px;
  left: 30px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
}
.Total-divs-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 4fr);
}
.product-container {
  position: relative;
  margin-bottom: 15rem;
}
.product-container img {
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(209, 154, 100, 0.65);
}
.product-div-details {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 248px;
  height: 94px;
  top: 26.7rem;
  left: 0.8rem;
  padding: 10px 10px 11px 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(209, 154, 100, 0.65);
}

.product-text1 {
  display: flex;
  justify-content: space-between;
}
.product-text1 p {
  font-family: " PT Serif";
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.6);
}

.product-text1 span {
  display: flex;
  border: 1px solid rgba(209, 154, 100, 1);
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 2rem;
  border-radius: 30px;
}

.product-text2 {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.product-text2 p {
  font-family: "PT Serif";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.8);
}
.product-text2 button {
  margin-top: 0.2rem;
  width: 104px;
  height: 22px;
  top: 58px;
  left: 134px;
  padding: 1px 14px 0px 13px;
  border-radius: 5px;
  background-color: rgba(209, 154, 100, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
}

@media screen and (max-width: 900px) {
  .Total-divs-container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 2fr);
  }
}
@media screen and (max-width: 600px) {
  .Total-divs-container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
  }
}
