#checking-out {
  display: flex;
  gap: 32rem;
}

#checking-out h3 {
  font-family: "PT Serif";
  font-size: 2rem;
  font-weight: 700;
  line-height: 31.8px;
}
#checking-out-h3 {
  display: flex;
  gap: 35rem;
}
#add-to-cart {
  display: flex;
  align-items: center;
  gap: 10rem;

  margin-bottom: 1rem;
}
#product-price-quantity {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
}
#add-to-cart-img {
  display: flex;

  align-items: center;
}
#add-to-cart-img img {
  width: 12rem;
  height: 12rem;
}
#add-to-cart-img p {
  font-family: "PT Serif";
  font-size: 20px;
  font-weight: 400;
  line-height: 26.5px;

  color: rgba(0, 0, 0, 0.8);
}
#add-cart-calculations {
  display: flex;
  gap: 35rem;
}
.Total-plus-total {
  flex: 1;
  margin: 2rem;
}

#add-cart-calculations button {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 12px;
  border: 1px solid rgba(209, 154, 100, 0.65);
}

#add-to-cart p {
  font-family: "PT Serif";
  font-size: 20px;
  font-weight: 700;
  line-height: 26.5px;

  color: rgba(0, 0, 0, 0.6);
}
#each-price {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10rem;
  margin: 1rem;
}
#each-price P {
  font-family: "PT Serif";
  font-size: 1remx;
  font-weight: 700;
  line-height: 21.2px;
  text-align: right;
}
#price-list {
  padding: 2rem;
  width: 30rem;
  border-radius: 1rem;
  border: 0.5px solid rgba(209, 154, 100, 0.65);
}
#price-list button {
  border: none;
  margin-left: 4rem;
  border-radius: 8px;
  /* padding-left: 3rem;
  padding-right: 3rem; */
  padding: 1.5rem 3rem 1.5rem 3rem;
  background-color: rgba(209, 154, 100, 1);
  color: rgba(255, 255, 255, 1);
}
#underline2 {
  width: 100%;
}
#underline1 {
  width: 100%;
}
@media screen and (max-width: 900px) {
  /* #add-to-cart {
    border: 1px solid red;
  } */
  #checking-out-h3 {
    display: flex;
    gap: 10rem;
  }
  #add-to-cart {
    display: flex;
    align-items: center;
    gap: 10rem;

    margin-bottom: 1rem;
  }
  #add-cart-calculations {
    display: flex;
    gap: 10rem;
  }
  #checking-out {
    display: flex;
    gap: 25rem;
  }

  #add-to-cart p {
    font-size: 15px;
  }
  #underline2 {
    width: 100%;
  }
  #price-list button {
    border-radius: 1rem;
    margin-left: 5rem;
    border: none;
    padding: 1.5rem;
    background-color: rgba(209, 154, 100, 1);
    color: rgba(255, 255, 255, 1);
  }
  /* #checking-out {
    gap: 15rem;
  } */
  #add-to-cart-img p {
    font-size: 1.5rem;
  }
  #add-to-cart-img img {
    width: 10rem;
    height: 10rem;
  }
  #product-price-quantity {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
  }
  #price-list {
    padding: 2rem;
    width: 30rem;
    border-radius: 1rem;
    border: 0.5px solid rgba(209, 154, 100, 0.65);
  }
}
@media screen and (max-width: 650px) {
  #add-to-cart-img img {
    width: 8rem;
    height: 8rem;
  }
  #add-to-cart {
    display: flex;
    gap: 4rem;
  }
  #add-to-cart-img p {
    font-size: 1rem;
  }
  #add-to-cart p {
    font-size: 1rem;
  }
  #checking-out h3 {
    font-size: 1.2rem;
  }
}
